* {
    margin: 0;
    padding: 0;
}

body {
    color: #474747;
    font-size: 14px;
    background-color: #fafafa;
}

body, html {
    height: 100%;
}

a {
    text-decoration: none;
}

.wrap {
    margin: 0 auto;
    width: 1239px;
    min-height: 100%;
}

.wrap table {
    border-spacing: 0;
}

thead {
    display: none;
}

.wrap tr {
    width: 1239px;
    height: 55px;
    display: flex;
}

.wrap .item {
    width: 1239px;
    height: 136px;
    display: flex;
    border-top: 1px solid #ededed;
}

.wrap td {
    background-color: #FFF;
    border-bottom: 1px solid #ededed;
    text-align: center;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.wrap .state {
    width: 111px;

}


.wrap .state .checkbox {
    width: 18px;
    height: 18px;
    margin-right: 10px;
    border: 1px solid #d4d4d4;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.wrap .state .innerbox {
    display: inline-block;
    width: 16px;
    height: 16px;
    cursor: pointer;
}

.wrap .state .checkbox:hover .innerbox {
    z-index: 2;
    background: url("../image/icons.png") -78px -116px no-repeat;
}

.wrap .name {
    width: 528px;
    font-size: 14px;
    color: #424242;
}

.wrap .item .name {
    justify-content: flex-start;
    align-items: center;
}

.name .title {
    margin-left: 18px;
    color: #424242;
    font-size: 14px;
}

.name .title:hover {
    color: #e90404;
}

.wrap .name img {
    width: 74px;
    height: 74px;
}

.wrap .discount {
    width: 100px;
}

.wrap .num {
    width: 200px;
}

.wrap .prices {
    width: 150px;
}

.wrap .operation {
    width: 150px;
}

.number {
    width: 100%;
    height: 48px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.number span {
    display: inline-block;
    height: 100%;
    width: 48px;
    font-size: 14px;
    color: #9a9a9a;
    text-align: left;
    line-height: 48px;
}


.case {
    width: 80px;
    height: 24px;
    box-sizing: border-box;
    margin-right: 11px;
    border: 1px solid #e0e0e0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.case .click {
    width: 23px;
    height: 22px;
    cursor: pointer;
}

.case .click:hover {
    background-color: #f0f0f0;
}

.case .mini {
    background: url("../image/icons.png") -234px -98px no-repeat;
}

.case .plus {
    background: url("../image/icons.png") -234px -132px no-repeat;
}

.case input {
    width: 32px;
    height: 20px;
    border: none;
    outline: none;
    text-align: center;
    font-size: 12px;
}

/*价格*/
.prices p {
    height: 28px;
    font-size: 20px;
    color: #e90404;
}

/*删除*/
.operation a {
    width: 22px;
    height: 22px;
    border-radius: 22px;
    background-color: transparent;
}

.operation a span {
    display: inline-block;
    width: 8px;
    height: 8px;
    background: url("../image/icons.png") no-repeat -292px 0;
}

.operation a:hover {
    background-color: #e32332;
}

.operation a:hover span {
    background: url("../image/icons.png") no-repeat -292px -20px;
}

.footer {
    width: 1239px;
    height: 90px;
    margin: 5px auto;
    background-color: white;
    padding: 0 32px 0 28px;
    box-sizing: border-box;
    /*display: flex;*/
    justify-content: space-between;
    align-items: center;
    display: none;
}

.left {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.left .state {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    /*margin-right: 10px;*/
}

.left a {
    color: #666666;
    font-size: 14px;
    margin-right: 22px;
}

.left a:hover {
    color: #e90404;
}

.right {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.right .checkout {
    width: 188px;
    height: 50px;
    outline: none;
    border: none;
    font-size: 18px;
    color: white;
    background-color: #e32332;
    cursor: pointer;
    margin-left: 20px;
}

.right .checkout:hover {
    background-color: #C00;
}

.right .checkoutinfo {
    height: 94px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.right .checkoutnumber {
    color: #e90404;
    font-size: 24px;
    margin: 0 7px;
}

/*购物车位空的时候显示提示*/
.carnull {
    width: 1239px;
    height: 300px;
    background-color: white;
    /*display: flex;*/
    justify-content: center;
    align-items: center;
    color: #666666;
    font-size: 18px;
    display: none;
}

.carnull > a {
    color: #e90404;
    padding: 0 5px;
}

.carnull span {
    width: 80px;
    height: 60px;
    margin-right: 14px;
    background: url("../image/icons.png") no-repeat -78px -132px;
}

/*  成功添加提示窗口*/
.success {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    width: 503px;
    height: 342px;
    background-color: white;
    z-index: 15;
    display: none;
}

.success .close {
    background-image: -webkit-linear-gradient(top, #fff, #f7f7f7);
    width: 100%;
    height: 45px;
    line-height: 44px;
    box-sizing: border-box;
    border-bottom: 1px solid #e1e1e1;
    padding-left: 16px;
    padding-right: 16px;
    font-size: 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.success .close span {
    cursor: pointer;
    display: inline-block;
    width: 10px;
    height: 10px;
    background: url("../image/icons.png") no-repeat -292px 1px;
}

.success .close span:hover {
    background: url("../image/icons.png") -292px -8px no-repeat;
}

.success .content {
    width: 460px;
    height: 158px;
    padding: 35px 20px 20px;
}

.success .content p {
    height: 100%;
    width: 100%;
    font-size: 18px;
    color: #666;
    display: flex;
    justify-content: center;
    align-items: center;
}

.success .content p > span {
    display: inline-block;
    width: 24px;
    height: 24px;
    margin-right: 15px;
    background: url("../image/ico.png") -172px 1px no-repeat;
}

.success .continue {
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.success .continue a {
    width: 160px;
    height: 45px;
    margin: 0 8px;
    line-height: 45px;
    text-align: center;
}

.success .continue .shopping {
    background-color: #e32332;
    color: white;
    font-size: 16px;
}

.success .continue .jump {
    border: 1px solid #e32330;
    color: #e80306;
}

.success .continue .shopping:hover {
    background-color: #c00;
}

.cover {
    width: 100%;
    display: none;
    z-index: 10;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(00, 00, 00, 0.3);
}


/*头部*/
.header {
    width: 100%;
    height: 33px;
    background-color: #474747;
    margin-bottom: 30px;
}

.hwrap {
    width: 1190px;
    height: 33px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.hwrap span {
    display: inline-block;
    width: 100%;
    line-height: 33px;
    font-size: 12px;
    color: #ccc;
}

.hwrap .right {
    width: 400px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.hwrap .right span {
    width: 7px;
    text-align: center;
}

.hwrap a {
    color: #ccc;
    font-size: 12px;
    display: inline-block;
}


.hwrap a:hover {
    color: #FFF;
}

.right .car {
    width: 138px;
    height: 100%;
    font-size: 12px;
    background-color: #1e1e1e;
    color: #666;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    position: relative;
}

.right .car span {
    color: #666;
    display: inline-block;
    width: auto;
    margin-right: 8px;
}

.right .car .icon {
    display: inline-block;
    width: 20px;
    height: 14px;
    margin-right: 8px;
    background: url("../image/icons.png") -164px -20px no-repeat;
}

.right .car:hover .icon {
    color: white;
    background: url("../image/icons.png") -164px -38px no-repeat;
}

.right .car:hover span {
    color: white;
}

.right .car:hover {
    color: white;
    background-color: #e32332;
}

.right .car:hover em {
    color: white;
}


.right .car em {
    display: inline-block;
    height: 100%;
    font-style: normal;
    color: #db313e;
    font-weight: 600;
    line-height: 33px;
}

.right .incar {
    position: absolute;
    top: 33px;
    right: 0;
    width: 350px;
    background-color: #fafafa;
    box-shadow: 0 2px 3px #CCC;
    z-index: 8;
}

.userInfo {
    display: flex;
    justify-content: center;
    align-items: center;
}

