* {
    margin: 0;
    padding: 0;
}


body {
    background-color: #fafafa;
}


ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: #474747;
}

.header {
    width: 100%;
    height: 33px;
    background-color: #474747;
}

.hwrap {
    width: 1190px;
    height: 33px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.hwrap span {
    display: inline-block;
    width: 100%;
    line-height: 33px;
    font-size: 12px;
    color: #ccc;
}

.hwrap .right {
    width: 400px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.hwrap .right span {
    width: 7px;
    text-align: center;
}

.hwrap a {
    color: #ccc;
    font-size: 12px;
    display: inline-block;
}


.hwrap a:hover {
    color: #FFF;
}

.right .car {
    width: 138px;
    height: 100%;
    font-size: 12px;
    background-color: #1e1e1e;
    color: #666;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    position: relative;
}

.right .car span {
    color: #666;
    display: inline-block;
    width: auto;
    margin-right: 8px;
}

.right .car .icon {
    display: inline-block;
    width: 20px;
    height: 14px;
    margin-right: 8px;
    background: url("../image/icons.png") -164px -20px no-repeat;
}

.right .car:hover .icon {
    color: white;
    background: url("../image/icons.png") -164px -38px no-repeat;
}

.right .car:hover span {
    color: white;
}

.right .car:hover {
    color: white;
    background-color: #e32332;
}

.right .car:hover em {
    color: white;
}


.right .car em {
    display: inline-block;
    height: 100%;
    font-style: normal;
    color: #db313e;
    font-weight: 600;
    line-height: 33px;
}

.right .incar {
    position: absolute;
    top: 33px;
    right: 0;
    width: 350px;
    background-color: #fafafa;
    box-shadow: 0 2px 3px #CCC;
    z-index: 8;
}

.userInfo {
    display: flex;
    justify-content: center;
    align-items: center;
}

/*商品列表*/

.wrap {
    width: 1200px;
    height: 300px;
    margin: 50px auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.blocks {
    overflow: hidden;
    position: relative;
    width: 287px;
    height: 385px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
    transition: all 0.2s;
    margin-bottom: 14px;
}

.blocks:hover {
    transform: translate(0, -2px);
    box-shadow: 0 3px 3px #CCC;
}

.blocks img {
    width: 210px;
    height: 210px;
}

.blocks p {
    margin: 15px 0px 5px;
    width: 196px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 14px;
    color: #474747;
    text-align: center;
}

.blocks span {
    font-size: 18px;
    color: #eb0303;
}

.hov {
    width: 100%;
    height: 100px;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: rgba(00, 00, 00, 0.7);
    transition: all 0.5s;
    display: flex;
    justify-content: center;
    align-items: center;
}

.blocks:hover .hov {
    transform: translateY(-100%);
}

.hov .btn {
    width: 200px;
    height: 50px;
    border: 1px solid white;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.hov .btn span {
    color: white;
    font-size: 15px;
}

.hov .btn span::before {
    content: '';
    display: inline-block;
    width: 19px;
    height: 14px;
    margin-right: 5px;
    background: url("../image/icons.png") -165px -38px no-repeat;
}


.hov .btn:hover {
    background-color: #e32430;
    border-color: #e32430;
}


/*  成功添加提示窗口*/
.success {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    width: 503px;
    height: 342px;
    background-color: white;
    z-index: 15;
    display: none;
    box-shadow: 0 2px 3px #CCC;
}

.success .close {
    background-image: -webkit-linear-gradient(top, #fff, #f7f7f7);
    width: 100%;
    height: 45px;
    line-height: 44px;
    box-sizing: border-box;
    border-bottom: 1px solid #e1e1e1;
    padding-left: 16px;
    padding-right: 16px;
    font-size: 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.success .close span {
    cursor: pointer;
    display: inline-block;
    width: 10px;
    height: 10px;
    background: url("../image/icons.png") no-repeat -292px 1px;
}

.success .close span:hover {
    background: url("../image/icons.png") -292px -8px no-repeat;
}

.success .content {
    width: 460px;
    height: 158px;
    padding: 35px 20px 20px;
}

.success .content p {
    height: 100%;
    width: 100%;
    font-size: 18px;
    color: #666;
    display: flex;
    justify-content: center;
    align-items: center;
}

.success .content p > span {
    display: inline-block;
    width: 24px;
    height: 24px;
    margin-right: 15px;
    background: url("../image/ico.png") -40px -29px no-repeat;
}

.success .continue {
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.success .continue a {
    width: 160px;
    height: 45px;
    margin: 0 8px;
    line-height: 45px;
    text-align: center;
}

.success .continue .shopping {
    background-color: #e32332;
    color: white;
    font-size: 16px;
}

.success .continue .jump {
    border: 1px solid #e32330;
    color: #e80306;
}

.success .continue .shopping:hover {
    background-color: #c00;
}

.cover {
    width: 100%;
    display: none;
    z-index: 10;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(00, 00, 00, 0.3);
}